extends ../layout/layout-main
block block-content
  // Hero Section Begin
  section.hero.mt-4
    include ../layout/layout-search-1
  // Categories Section Begin
  section.categories#commonCategorySlider
    .container
      .row
        .categories__slider.owl-carousel
          .col-lg-3
            .categories__item.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/f5f5f5')
              h5
                a(href='#') VIEW CATEGORY

          
  // Categories Section End
  // Featured Section Begin
  section.featured.spad#featureProduct
    .container
      .row.featured__title
        .col-lg-12
          .section-title
            h2 Featured Product
          .featured__controls
            ul
              li.active(data-filter='*') All
              //- li(data-filter='.oranges') Oranges
              //- li(data-filter='.fresh-meat') Fresh Meat
              //- li(data-filter='.vegetables') Vegetables
              //- li(data-filter='.fastfood') Fastfood
      .row.featured__filter
        .col-lg-3.col-md-4.col-sm-6.mix
          .featured__item
            .featured__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/f5f5f5')
              ul.featured__item__pic__hover
                li
                  a(href='#')
                    i.fa.fa-heart
                li
                  a(href='#')
                    i.fa.fa-shopping-cart
            .featured__item__text
              h6
                a(href='#') Product Name
              h5 0MMK
  // Featured Section End
  // Banner Begin
  .banner#homeBanner-2
    .container
      .row.holdBanner.d-none
        .col-lg-6.col-md-6.col-sm-12
          .banner__pic.my-3
            img.imgBanner(src='https://via.placeholder.com/570x270/f0f0f0/f0f0f0' alt='')

  // Banner End
  // Latest Product Section Begin
  section.latest-product.spad#productSliders
    .container
      .row
        .col-lg-4.col-md-6
          .latest-product__text
            h4 Latest Products
            .latest-product__slider.owl-carousel
              .latest-prdouct__slider__item
                a.latest-product__item(href='#')
                  .latest-product__item__pic
                    img(src='https://via.placeholder.com/110x100/f5f5f5/555' alt='')
                  .latest-product__item__text
                    h6 Product Name
                    span 0MMK
        .col-lg-4.col-md-6
          .latest-product__text
            h4 Top Rated Products
            .latest-product__slider.owl-carousel
              .latest-prdouct__slider__item
                a.latest-product__item(href='#')
                  .latest-product__item__pic
                    img(src='https://via.placeholder.com/110x100/f5f5f5/555' alt='')
                  .latest-product__item__text
                    h6 Product Name
                    span LEE MMK
        .col-lg-4.col-md-6
          .latest-product__text
            h4 Review Products
            .latest-product__slider.owl-carousel
              .latest-prdouct__slider__item
                a.latest-product__item(href='#')
                  .latest-product__item__pic
                    img(src='https://via.placeholder.com/110x100/f5f5f5/555' alt='')
                  .latest-product__item__text
                    h6 Product Name
                    span 0MMK
  // Latest Product Section End
  // Blog Section Begin
  section.from-blog.spad
    .container
      .row
        .col-lg-12
          .section-title.from-blog__title
            h2 From The Blog
      .row
        .col-lg-4.col-md-4.col-sm-6
          .blog__item
            .blog__item__pic
              img(src='https://via.placeholder.com/370x266/f5f5f5/555' alt='')
            .blog__item__text
              ul
                li
                  i.fa.fa-calendar-o
                  |  May 4,2019
                li
                  i.fa.fa-eye
                  |  5
              h5
                a(href='#') Cooking tips make cooking simple
              p
                | Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat
        .col-lg-4.col-md-4.col-sm-6
          .blog__item
            .blog__item__pic
              img(src='https://via.placeholder.com/370x266/f5f5f5/555' alt='')
            .blog__item__text
              ul
                li
                  i.fa.fa-calendar-o
                  |  May 4,2019
                li
                  i.fa.fa-eye
                  |  5
              h5
                a(href='#') 6 ways to prepare breakfast for 30
              p
                | Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat
        .col-lg-4.col-md-4.col-sm-6
          .blog__item
            .blog__item__pic
              img(src='https://via.placeholder.com/370x266/f5f5f5/555' alt='')
            .blog__item__text
              ul
                li
                  i.fa.fa-calendar-o
                  |  May 4,2019
                li
                  i.fa.fa-eye
                  |  5
              h5
                a(href='#') Visit the clean farm in the US
              p
                | Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat
  // Blog Section End
  // Js Pages
block scripts
  script(src="../js/pages/index.js")