extends ../layout/layout-main
block block-content
  // Hero Section Begin
  section.hero.hero-normal.mt-4
    include ../layout/layout-search-2
  // Breadcrumb Section Begin
  section.breadcrumb-section.set-bg#breadCrumb(data-setbg='https://via.placeholder.com/1920x150/f5f5f5/f5f5f5')
    .container
      .row
        .col-lg-12.text-center
          .breadcrumb__text
            h2 Official Store
            .breadcrumb__option
              a(href='/') Home
              span Official Store
  // Breadcrumb Section End
  // Stores Section Begin
  section.stores
    .container
      h2.font-weight-bold.mt-5 Official Stores
      .row.my-4#officialStore
      .row.my-4.d-none#preOfficialStore
        .col-md-4.mt-3.mb-3
          .card
            img.card-img-top(src='https://via.placeholder.com/270x270/f5f5f5/f5f5f5' alt='...')
            .card-body
              h5.card-title Store Name
              p.card-text Description
              a.btn.btn-info(href='#') See Products

block scripts
  script(src="../js/pages/official-store.js")