extends ../layout/layout-main
block block-content
  // Hero Section Begin
  section.hero.hero-normal.mt-4
    include ../layout/layout-search-2
  // Breadcrumb Section Begin
  section.breadcrumb-section.set-bg#breadCrumb(data-setbg='https://via.placeholder.com/1920x150/f0f0f0/f0f0f0')
    .container
      .row
        .col-lg-12.text-center
          .breadcrumb__text
            h2 Organi Shop
            .breadcrumb__option
              a(href='./index.html') Home
              span Shop
  // Breadcrumb Section End
  // Product Section Begin
  section.product.spad
    .container
      .row
        .col-lg-3.col-md-5
          .sidebar
            .sidebar__item
              h4 Department
              ul
                li
                  a(href='#') Fresh Meat
                li
                  a(href='#') Vegetables
                li
                  a(href='#') Fruit &amp; Nut Gifts
                li
                  a(href='#') Fresh Berries
                li
                  a(href='#') Ocean Foods
                li
                  a(href='#') Butter &amp; Eggs
                li
                  a(href='#') Fastfood
                li
                  a(href='#') Fresh Onion
                li
                  a(href='#') Papayaya &amp; Crisps
                li
                  a(href='#') Oatmeal
            .sidebar__item
              h4 Price
              .price-range-wrap
                .price-range.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content(data-min='10' data-max='540')
                  .ui-slider-range.ui-corner-all.ui-widget-header
                  span.ui-slider-handle.ui-corner-all.ui-state-default(tabindex='0')
                  span.ui-slider-handle.ui-corner-all.ui-state-default(tabindex='0')
                .range-slider
                  .price-input
                    input#minamount(type='text')
                    input#maxamount(type='text')
            .sidebar__item.sidebar__item__color--option
              h4 Colors
              .sidebar__item__color.sidebar__item__color--white
                label(for='white')
                  | White
                  input#white(type='radio')
              .sidebar__item__color.sidebar__item__color--gray
                label(for='gray')
                  | Gray
                  input#gray(type='radio')
              .sidebar__item__color.sidebar__item__color--red
                label(for='red')
                  | Red
                  input#red(type='radio')
              .sidebar__item__color.sidebar__item__color--black
                label(for='black')
                  | Black
                  input#black(type='radio')
              .sidebar__item__color.sidebar__item__color--blue
                label(for='blue')
                  | Blue
                  input#blue(type='radio')
              .sidebar__item__color.sidebar__item__color--green
                label(for='green')
                  | Green
                  input#green(type='radio')
            .sidebar__item
              h4 Popular Size
              .sidebar__item__size
                label(for='large')
                  | Large
                  input#large(type='radio')
              .sidebar__item__size
                label(for='medium')
                  | Medium
                  input#medium(type='radio')
              .sidebar__item__size
                label(for='small')
                  | Small
                  input#small(type='radio')
              .sidebar__item__size
                label(for='tiny')
                  | Tiny
                  input#tiny(type='radio')
            .sidebar__item
              .latest-product__text
                h4 Latest Products
                .latest-product__slider.owl-carousel
                  .latest-prdouct__slider__item
                    a.latest-product__item(href='#')
                      .latest-product__item__pic
                        img(src='https://via.placeholder.com/110x110/f5f5f5/555' alt='')
                      .latest-product__item__text
                        h6 Crab Pool Security
                        span $30.00
                    a.latest-product__item(href='#')
                      .latest-product__item__pic
                        img(src='https://via.placeholder.com/110x110/f5f5f5/555' alt='')
                      .latest-product__item__text
                        h6 Crab Pool Security
                        span $30.00
                    a.latest-product__item(href='#')
                      .latest-product__item__pic
                        img(src='https://via.placeholder.com/110x110/f5f5f5/555' alt='')
                      .latest-product__item__text
                        h6 Crab Pool Security
                        span $30.00
                  .latest-prdouct__slider__item
                    a.latest-product__item(href='#')
                      .latest-product__item__pic
                        img(src='https://via.placeholder.com/110x110/f5f5f5/555' alt='')
                      .latest-product__item__text
                        h6 Crab Pool Security
                        span $30.00
                    a.latest-product__item(href='#')
                      .latest-product__item__pic
                        img(src='https://via.placeholder.com/110x110/f5f5f5/555' alt='')
                      .latest-product__item__text
                        h6 Crab Pool Security
                        span $30.00
                    a.latest-product__item(href='#')
                      .latest-product__item__pic
                        img(src='https://via.placeholder.com/110x110/f5f5f5/555' alt='')
                      .latest-product__item__text
                        h6 Crab Pool Security
                        span $30.00
        .col-lg-9.col-md-7
          .product__discount
            .section-title.product__discount__title
              h2 Sale Off
            .row
              .product__discount__slider.owl-carousel
                .col-lg-4
                  .product__discount__item
                    .product__discount__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                      .product__discount__percent -20%
                      ul.product__item__pic__hover
                        li
                          a(href='#')
                            i.fa.fa-heart
                        li
                          a(href='#')
                            i.fa.fa-retweet
                        li
                          a(href='#')
                            i.fa.fa-shopping-cart
                    .product__discount__item__text
                      span Dried Fruit
                      h5
                        a(href='#') Raisin&rsquo;n&rsquo;nuts
                      .product__item__price
                        | $30.00 
                        span $36.00
                .col-lg-4
                  .product__discount__item
                    .product__discount__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                      .product__discount__percent -20%
                      ul.product__item__pic__hover
                        li
                          a(href='#')
                            i.fa.fa-heart
                        li
                          a(href='#')
                            i.fa.fa-retweet
                        li
                          a(href='#')
                            i.fa.fa-shopping-cart
                    .product__discount__item__text
                      span Vegetables
                      h5
                        a(href='#') Vegetables&rsquo;package
                      .product__item__price
                        | $30.00 
                        span $36.00
                .col-lg-4
                  .product__discount__item
                    .product__discount__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                      .product__discount__percent -20%
                      ul.product__item__pic__hover
                        li
                          a(href='#')
                            i.fa.fa-heart
                        li
                          a(href='#')
                            i.fa.fa-retweet
                        li
                          a(href='#')
                            i.fa.fa-shopping-cart
                    .product__discount__item__text
                      span Dried Fruit
                      h5
                        a(href='#') Mixed Fruitss
                      .product__item__price
                        | $30.00 
                        span $36.00
                .col-lg-4
                  .product__discount__item
                    .product__discount__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                      .product__discount__percent -20%
                      ul.product__item__pic__hover
                        li
                          a(href='#')
                            i.fa.fa-heart
                        li
                          a(href='#')
                            i.fa.fa-retweet
                        li
                          a(href='#')
                            i.fa.fa-shopping-cart
                    .product__discount__item__text
                      span Dried Fruit
                      h5
                        a(href='#') Raisin&rsquo;n&rsquo;nuts
                      .product__item__price
                        | $30.00 
                        span $36.00
                .col-lg-4
                  .product__discount__item
                    .product__discount__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                      .product__discount__percent -20%
                      ul.product__item__pic__hover
                        li
                          a(href='#')
                            i.fa.fa-heart
                        li
                          a(href='#')
                            i.fa.fa-retweet
                        li
                          a(href='#')
                            i.fa.fa-shopping-cart
                    .product__discount__item__text
                      span Dried Fruit
                      h5
                        a(href='#') Raisin&rsquo;n&rsquo;nuts
                      .product__item__price
                        | $30.00 
                        span $36.00
                .col-lg-4
                  .product__discount__item
                    .product__discount__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                      .product__discount__percent -20%
                      ul.product__item__pic__hover
                        li
                          a(href='#')
                            i.fa.fa-heart
                        li
                          a(href='#')
                            i.fa.fa-retweet
                        li
                          a(href='#')
                            i.fa.fa-shopping-cart
                    .product__discount__item__text
                      span Dried Fruit
                      h5
                        a(href='#') Raisin&rsquo;n&rsquo;nuts
                      .product__item__price
                        | $30.00 
                        span $36.00
          .filter__item
            .row
              .col-lg-4.col-md-5
                .filter__sort
                  span Sort By
                  select
                    option(value='0') Default
                    option(value='0') Default
              .col-lg-4.col-md-4
                .filter__found
                  h6
                    span 16
                    |  Products found
              .col-lg-4.col-md-3
                .filter__option
                  span.icon_grid-2x2
                  span.icon_ul
          .row
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
            .col-lg-4.col-md-6.col-sm-6
              .product__item
                .product__item__pic.set-bg(data-setbg='https://via.placeholder.com/270x270/f5f5f5/555')
                  ul.product__item__pic__hover
                    li
                      a(href='#')
                        i.fa.fa-heart
                    li
                      a(href='#')
                        i.fa.fa-retweet
                    li
                      a(href='#')
                        i.fa.fa-shopping-cart
                .product__item__text
                  h6
                    a(href='#') Crab Pool Security
                  h5 $30.00
          .product__pagination
            a(href='#') 1
            a(href='#') 2
            a(href='#') 3
            a(href='#')
              i.fa.fa-long-arrow-right
  // Product Section End
block scripts
  script(src="../js/pages/shop.js")