.container
    .row
      .col-lg-3
        .hero__categories
          .hero__categories__all
            i.fa.fa-bars
            span All departments
          ul
            li
              a(href='#') Fresh Meat
            li
              a(href='#') Vegetables
            li
              a(href='#') Fruit &amp; Nut Gifts
            li
              a(href='#') Fresh Berries
            li
              a(href='#') Ocean Foods
            li
              a(href='#') Butter &amp; Eggs
            li
              a(href='#') Fastfood
            li
              a(href='#') Fresh Onion
            li
              a(href='#') Papayaya &amp; Crisps
            li
              a(href='#') Oatmeal
            li
              a(href='#') Fresh Bananas
      .col-lg-9
        .hero__search
          .hero__search__form
            form(action='#')
              .hero__search__categories
                | All Categories
                span.arrow_carrot-down
              input(type='text' placeholder='What do yo u need?')
              button.site-btn(type='submit') SEARCH
          .hero__search__phone
            .hero__search__phone__icon
              i.fa.fa-phone
            .hero__search__phone__text
              h5 +65 11.188.888
              span support 24/7 time
        .hero__item.set-bg(data-setbg='https://via.placeholder.com/870x430/f5f5f5/555')
          .hero__text
            span FRUIT FRESH
            h2
              | Vegetable 
              br
              | 100% Organic
            p Free Pickup and Delivery Available
            a.primary-btn(href='#') SHOP NOW
// Hero Section End