include layout-head
include layout-nav
body
    //- script.
    //-     window.fbAsyncInit = function() {
    //-        FB.init({
    //-        appId      : '2249929971810473',
    //-        cookie     : true,
    //-        xfbml      : true,
    //-        version    : 'v11.0'
    //-     });
    //-     FB.AppEvents.logPageView();
    //-     };
    //-     (function(d, s, id){
    //-     var js, fjs = d.getElementsByTagName(s)[0];
    //-         f (d.getElementById(id)) {return;}
    //-         s = d.createElement(s); js.id = id;
    //-         s.src = "https://connect.facebook.net/en_US/sdk.js";
    //-         js.parentNode.insertBefore(js, fjs);
    //-     }(document, 'script', 'facebook-jssdk'));
    //-     FB.getLoginStatus(function(response) {
    //-         statusChangeCallback(response);
    //-     });
    block block-content
include layout-foot