.container
    .row
      .col-lg-3
        .hero__categories#commonCategory
          .hero__categories__all
            i.fa.fa-bars
            span All Categories
          ul
            li
              a(href='#')
      .col-lg-9
        .hero__search
          .hero__search__form
            form(action='#')
              //- .hero__search__categories
              //-   | All Categories
              //-   span.arrow_carrot-down
              input(type='text' placeholder='What do yo u need?')
              button.site-btn(type='submit') SEARCH
          .hero__search__phone
            .hero__search__phone__icon
              i.fa.fa-phone
            .hero__search__phone__text
              h5 +65 11.188.888
              span support 24/7 time
        .hero__item.set-bg#homeBanner-1(data-setbg='https://via.placeholder.com/870x430/f0f0f0/f0f0f0')
          .hero__text
            span Your Choice
            h2
              |  ITEMPLAE 
              br
              | MARKETPLACE
            p Pickup and Delivery Available
            a.primary-btn(href='/shop') SHOP NOW
// Hero Section End